/* This CSS file is for styling the website, and has nothing to do with the actual Syntax Highlighter theme. */

body {
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (max-width: 600px) {
    body {
      padding-left: 4%;
      padding-right: 4%;
    }
  }